{% extends 'dreamapp/header.html' %}
{% block content %}

<head>
    {% load static %}
    {{ form.media }}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
        crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-5864886611650170">
</head>

<body
    style="margin: 0; padding: 0; height: 100vh; display: flex; align-items: center; justify-content: center;background:#272425;">
    <div class="container ">
        <div class="container ">
            <div class="left" style="padding:0 1em 1em 0em">
                <img class="hoverable animate" src="{% static 'main/images/rs.jpg' %}" alt="App Logo"
                    style="width: 250px; height: 250px;border-radius: 15px;border: 2px solid #fff;box-shadow: 0 0 5px #fff;">
            </div>
            <h4 class="goldman-regular mobile-exo200h right-align animate" style="margin-top:3em">// Robert She</br><a
                    class="exo-200t animate" style="font-size: 15px;color: #42c9c6;text-shadow:0 0 3px #42c9c6;">
                    Analyst</a></h4>
                    
            <p class="exo-200text flow-text left-align animate" style="display: inline-block;">
                <b class="exo-200t animate">ABOUT ME</b>
                </br>
                <span class="animate">
                I’m a 34-year-old from the United States with a unique background that bridges both technology and
                psychology. My journey began in the world of design, earning a Bachelor of Fine Arts in Industrial
                Design, where I specialized in Automotive Design. However, I soon found myself drawn to technology,
                becoming a full-stack software developer proficient in Python, JavaScript, Solidity, and a range of
                other technologies. I’ve built mobile apps, web applications, and even dabbled in Web3 and blockchain.
            </span>
                </br></br>
                <span class="animate">
                But while coding fulfills my technical curiosity, it was a deeper fascination with the human mind that
                truly shaped my path.
            </span>
                </br></br>
                <span class="animate">
                My personality type is INTP—naturally curious and analytical—qualities that led me to an unexpected but
                life-changing interest in psychology. It all started with an elective course in university that
                introduced me to philosophical and psychological thinkers like Kant, Descartes, Nietzsche, and Freud.
                However, it was Carl Jung’s work that truly resonated with me. His theories on the unconscious,
                archetypes, and personality types struck a chord, giving me language for things I had always sensed but
                couldn’t quite articulate.
            </span>
                </br></br>
                <span class="animate">
                Over the past eight years, I’ve immersed myself in Jungian psychology, exploring concepts like the Ego,
                Shadow, Anima/Animus, and the Collective Unconscious. Jung’s work on dream analysis, in particular,
                became a cornerstone of my own personal development. As I began interpreting my own dreams, I uncovered
                insights that shifted my perspective on myself and the human psyche in profound ways.
            </span>
                </br></br>
                <span class="animate">
                My dedication to psychology is deeply personal. At 13, I lost my father to suicide—a traumatic event
                that spurred existential crises and a determination to understand the complexities of mental health.
                Through my research, Jung’s work provided not only clarity but also a pathway toward healing and
                personal growth. This process of self-discovery has empowered me to help others in their own journeys.
            </span>
                </br></br>
                <span class="animate">
                Today, I use my knowledge of Jungian psychology to help individuals around the world explore their inner
                selves. Whether through dream analysis or one-on-one counseling, I guide people to uncover the deeper
                meanings in their lives, providing insights that lead to growth, healing, and greater self-awareness.
            </span>
                </br></br>
                <span class="animate">
                Though my journey started in the world of design and technology, it has evolved into something far more
                meaningful. My passion is now centered on helping others navigate their own inner worlds, using the
                universal language of dreams and the transformative power of psychological insight.
            </span>
                </br></br>

            </p>
        </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
        crossorigin="anonymous"></script>
    <!-- Horizontal -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5864886611650170" data-ad-slot="7852600863"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const elements = document.querySelectorAll('.animate');

            elements.forEach((el, index) => {
                setTimeout(() => {
                    el.classList.add('flash-text-pop');
                }, index * 80); // Delay between each element's animation (300ms)
            });
        });
    </script>

</body>

{% endblock %}