{% extends 'dreamapp/header.html' %}
{% block content %}

<head>
    {% load static %}
    {{ form.media }}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
        crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-5864886611650170">
</head>

<body
    style="margin: 0; padding: 0; height: 100vh; display: flex; align-items: center; justify-content: center;background:#272425;">
    <div class="container ">
        <div class="container ">
            <h4 class="goldman-regular mobile-exo200h right-align animate" style="margin-top:3em">// Dream Analytica</br><a
                    class="exo-200t animate" style="font-size: 15px;color: #42c9c6;text-shadow:0 0 3px #42c9c6;">A CARL JUNG
                    PSYCHOLOGY APP</a></h4>
            <p class="exo-200text flow-text left-align animate">
                <b class="exo-200t animate">ABOUT</b>
                </br>
                Embark on a captivating journey into the profound realm of Carl Jung’s analytical psychology with our
                app. Uncover the mysteries of dream analysis and discover how these insights can profoundly impact your
                daily life, fostering improved psychological well-being. Immerse yourself in a contemporary and
                user-friendly exploration of Jungian psychology, skillfully crafted to demystify intricate concepts.
                </br></br>
                Whether you’re a psychology enthusiast or a newcomer to Jungian concepts, our app provides a
                comprehensive and enlightening resource for anyone seeking personal growth and a deeper understanding of
                the human psyche. Download now and embark on a transformative journey into the world of analytical
                psychology.
                </br></br>
                <b>Our Commitment to Privacy:</b> At Dream Analytica, we prioritize your privacy and transparency. Our
                app is
                designed with a steadfast commitment to safeguarding your personal data. We want you to feel secure in
                your exploration of dreams and Jungian psychology, which is why our app operates on the principle of
                zero data collection.
                </br></br>
                <b>No Data Collection, No Login Credentials:</b> Dream Analytica does not collect any form of data, be
                it
                personal or usage-related. We respect your privacy and believe that your journey into dream analysis
                should be solely yours. There are no intrusive data collection practices, and you can enjoy the app
                without the need for any login credentials. Your experiences with Dream Analytica are yours alone.
                </br></br>
                <b>Local Dream Journal Storage:</b> Our dream journal feature is designed to enhance your personal
                exploration
                without compromising your privacy. The data you enter into the dream journal is stored exclusively on
                your local device. We do not transfer, store, or access any of your dream entries externally. This
                ensures that your dream reflections and personal insights remain securely in your hands.
                </br></br>
                <b>Empowering Education for All:</b> Dream Analytica is more than just an app; it’s an educational tool
                crafted
                to make the intriguing world of dream analysis and Jungian psychology accessible to everyone. Whether
                you’re a seasoned enthusiast or a newcomer to these concepts, our app is your guide to understanding the
                depths of your mind.
                </br></br>
                <b>How to Reach Us:</b> If you have any questions, encounter issues, or simply want to share your
                thoughts,
                we’re here for you. You can reach out to us with through the contact information below. Your feedback is
                invaluable, and we’re dedicated to ensuring your experience with Dream Analytica is as enriching as
                possible.
                </br></br>
                Thank you for choosing Dream Analytica, where your dreams and privacy are our top priorities.
                </br></br>
                <b class="exo-200t">CONTACT</b>
                </br>
                DREAMANALYTICA8@GMAIL.COM
                </br></br>
                <span class="left" href="https://apps.apple.com/us/app/dreamanalytica/id6473673370" target="_blank">
                    <img class="hoverable" src="{% static 'main/images/logo.png' %}" alt="App Logo"
                        style="width: 80px; height: 80px;border-radius: 10px;">
                </span>
            </p>
        </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
        crossorigin="anonymous"></script>
    <!-- Horizontal -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5864886611650170" data-ad-slot="7852600863"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const elements = document.querySelectorAll('.animate');

            elements.forEach((el, index) => {
                setTimeout(() => {
                    el.classList.add('flash-text-pop');
                }, index * 80); // Delay between each element's animation (300ms)
            });
        });
    </script>

</body>

{% endblock %}