{% extends 'dreamapp/header.html' %}
{% block content %}
<head>
    {% load static %}
    {{ form.media }}
    <style>
        @media only screen and (min-width: 600px) and (max-width: 992px) {
            .helper-text {
                font-size: 18px !important;
            }

            label.exo-200 {
                font-size: 20px !important;
            }

            input.exo-200,
            textarea.exo-200,
            span.exo-200 {
                font-size: 24px !important;
            }
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

    <div class="centered-container animate" style="margin-top:8em">
        <div class="form-wrapper animate" style="border:1px solid #4accb2;border-radius:20px;padding:2em 0 2em 0">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }} exo-200 center" style="color: #c00000;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            <form class="container flow-text animate" method="POST">
                <h4 class="exo-200h left-align flow-text" style="padding-bottom:1em">Contact us, share your dream to the
                    wall, or both!</h4>
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s6 exo-200 animate">
                        <input id="email" name="email" type="email" class="mobile-exo200 validate exo-200" required>
                        <label class="exo-200" for="email">Email*</label>
                    </div>
                    <div class="input-field col s6 exo-200 animate">
                        <input id="name" name="name" type="text" class="mobile-exo200 validate exo-200" required>
                        <label class="exo-200" for="name">Name*</label>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="input-field col s12 exo-200">
                        <input id="phone" name="phone" type="tel" class="validate exo-200"
                            pattern="^\+[0-9]{1,4}[0-9]+$"
                            onkeypress="return event.charCode >= 43 && event.charCode <= 57">
                        <label class="exo-200" for="phone">WhatsApp# (optional) +XXXXXXXXXX</label>
                        <span class="helper-text"
                            data-error="Please enter a valid phone number in WhatsApp format starting with the '+' symbol followed by the area code (do not inlcude spaces)"></span>
                    </div>
                </div>-->
                <div class="row">
                    <div class="input-field col s12 exo-200 animate">
                        <input id="title" name="title" type="text" class="validate exo-200" maxlength="40"
                            oninput="updateCharCount(this)" required>
                        <label for="title">Dream Name* (Max 50 characters)</label>
                        <span class="char-count">40</span> characters remaining
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 exo-200 animate">
                        <textarea id="textarea1" name="dream" class="validate materialize-textarea exo-200 flow-text"
                            style="height:200px" required></textarea>
                        <label class="exo-200" for="textarea1">Dream*</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 exo-200 animate" style="position: relative; z-index: 10;" required>
                        <select name="gender" id="gender" style="color:white;z-index: 1;">
                            {% for gender_choice in gender_choices %}
                                <option value="{{ gender_choice.0 }}" style="background:black;">{{ gender_choice.1 }}</option>
                            {% endfor %}
                        </select>
                        <label class="exo-200" for="gender">Gender*</label>
                    </div>
                    <div class="input-field col s6 exo-200 animate" style="position: relative; z-index: 10;" required>
                        <select name="mbti_type" id="mbti_type" style="color:white;z-index: 1;">
                            <option class="mobile-exo200" style="font-size: 11px;">Select Your Personality Type*
                            </option>
                            {% for mbti_choice in mbti_choices %}
                            <option value="{{ mbti_choice.0 }}" style="background:black;">{{ mbti_choice.1 }}</option>
                            {% endfor %}
                        </select>
                        <label class="exo-200" for="mbti_type">Personality Type*</label>
                    </div>
                    
                    
                        <div class="conatiner animate">
                        <div class="input-field exo-200 center" style="padding-top:2em;">
                            <div class="center" data-toggle="buttons" style="display: inline-flex;margin-top:1em">
                                {% for choice in dream_form.fields.scale.choices %}
                                <label class="" style="margin-right: 5px;">
                                    <input type="radio" name="scale" value="{{ choice.0 }}"
                                        {% if dream_form.scale.value == choice.0 %}checked{% endif %}>
                                    {{ choice.1 }}
                                    <span></span>
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="container animate">
                            <a class="exo-200 left">BAD DREAM</a>
                            <a class="exo-200 right">GOOD DREAM</a>
                        </div>
                    </div>
                </br>
                <div class="input-field col s12 exo-200 animate" style="z-index: 2;">
                    <label >
                        <input type="checkbox" name="active" />
                        <span class="exo-200">Share dream publicly*</span>
                    </label>
                </div>
            </br></br>
                    <p class="exo-200 animate">If you don't know your personality type, head to <a
                            class="exo-200 highlight-blue" style="text-decoration: underline;"
                            href="https://www.16personalities.com/free-personality-test">www.16personalities.com</a> and
                        take the free test to find out!</p>
                </div>
                <button class="btn btn-small center hoverable exo-200" type="submit"
                    style="width:100%;margin-top:0.5rem;z-index: 10;">
                    <b class="center mobile-exo200">[ SUBMIT ]</b>
                </button>
            </form>

        </div>
    </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5864886611650170"
        crossorigin="anonymous"></script>
    <!-- Horizontal -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5864886611650170" data-ad-slot="7852600863"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            M.FormSelect.init(elems);
        });


        function updateCharCount(input) {
            const maxLength = 40;
            const charCountSpan = input.parentElement.querySelector('.char-count');
            const remainingChars = maxLength - input.value.length;
            charCountSpan.textContent = remainingChars;
        }
    </script>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const elements = document.querySelectorAll('.animate');
    
          elements.forEach((el, index) => {
            setTimeout(() => {
              el.classList.add('flash-text-pop');
            }, index * 80); // Delay between each element's animation (300ms)
          });
        });
      </script>


{% endblock %}